.container{
    display:flex;
    flex-direction: row;
    background-color:#2E2E2E;
    align-items: center;
    justify-content: center;
}

.full{
    background-image: url("/common/images/background.png");
    background-size: 2080px 472px;
    width: 2080px;
    height: 472px;
    border:2px solid red;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: space-around;
}
.timer{
    width: 376.24px;
    height: 399.51px;
    border:2px solid yellow;
    margin-top: 36px;
    margin-bottom: 36px;
    margin-left:125.14px;
}
.level_bg{
    width: 200px;
    height: 200px;
    position: absolute;
    left:88.1px;
    top: 99.7px;
    z-index: 0;
}
.Timmer_bg{
    width: 112px;
    height: 112px;
    z-index: 1;
    left:133.12px;
    top: 143.755px;
    position: absolute;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;  font-weight: 800; font-size: 27.3px;
    z-index: 10;
}
.indication_point{
    object-fit:contain;
    width: 250px;
    height: 250px;
    position: absolute;
    left:62.1px;
    top: 90.7px;
    z-index: 5;
}
.min-progress {
    width: 190px;
    height: 190px;
    z-index: 0;
    left:93.1px;
    top: 103.7px;
    position: absolute;
    color: deepskyblue;
    stroke-width: 90px;
}
.fill{
    object-fit:contain;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 30px;
    left: 171px;
}
.wash{
    object-fit:contain;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 180px;
    right: 25px;
}
.spin{
    object-fit:contain;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 180px;
    left: 25px;
}
.rinse{
    object-fit:contain;
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 20px;
    left: 171px;
}
.tlabel1{
    color: white;  font-weight: 100; font-size: 20.3px;
    position: absolute;
    top: 60px;
    left: 172px;
}
.tlabel2{
    color: white;  font-weight: 800; font-size: 20.3px;
    position: absolute;
    bottom: 160px;
    left: 22px;
}
.tlabel3{
    color: white;  font-weight: 800; font-size: 20.3px;
    position: absolute;
    bottom: 160px;
    right: 10px;
}
.tlabel4{
    color: white;  font-weight: 800; font-size: 20.3px;
    position: absolute;
    bottom: 1px;
    left: 165px;
}
.dial{
    width: 410.08px;
    height: 396.67px;
    margin-top: 38.45px;
    margin-bottom: 36.88px;
    margin-left: 117px;
    border:2px solid green;
}
.band{
    object-fit:contain;
    position: absolute;
    width: 187.18px;
    height: 151.42px;
    left: 115.33px;
    top: 112.9px;
    z-index: 4;
}
.band_bg{
    object-fit:contain;
    position: absolute;
    width: 198.18px;
    height: 160.42px;
    left: 92.33px;
    top: 108.9px;
    z-index: 3;
}
.band_grey{
    object-fit:contain;
    position: absolute;
    width: 240px;
    height: 240px;
    z-index: 2;
    top: 70px;
    left: 70px
}
.selected_bg{
    object-fit:contain;
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 0;
    left: 330px;
    top: 160px;
}
.ecowash{
    object-fit:contain;
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1;
    left: 175px;
    top: 20px;
}
.woll{
    object-fit:contain;
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1;
    right: 70px;
    top: 60px;
}
.cotton{
    object-fit:contain;
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1;
    left: 340px;
    top: 170px;
}
.quick{
    object-fit:contain;
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1;
    right: 70px;
    bottom: 60px;
}
.rinse1{
    object-fit:contain;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 175px;
    bottom: 30px;
}
.spin1{
    object-fit:contain;
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1;
    left: 50px;
    bottom: 60px;
}
.mix{
    object-fit:contain;
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1;
    left: 20px;
    top: 170px;
}
.delicates{
    object-fit:contain;
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1;
    left: 50px;
    top: 60px;
}
.dlabel1{
    color: white;  font-weight: 100; font-size: 15.3px;
    z-index: 10;
    position: absolute;
    left: 25px;
    top: 90px;
}
.dlabel2{
    color: white;  font-weight: 100; font-size: 15.3px;
    z-index: 10;
    position: absolute;
    left: 20px;
    top: 205px;
}
.dlabel3{
    color: deepskyblue;  font-weight: 100; font-size: 15.3px;
    z-index: 10;
    position: absolute;
    right: 25px;
    top: 215px;
}
.dlabel4{
    color: white;  font-weight: 100; font-size: 15.3px;
    z-index: 10;
    position: absolute;
    left: 170px;
    bottom: 10px;
}
.dlabel5{
    color: white;  font-weight: 100; font-size: 15.3px;
    z-index: 10;
    position: absolute;
    right: 65px;
    top: 90px;
}
.dlabel6{
    color: white;  font-weight: 100; font-size: 15.3px;
    z-index: 10;
    position: absolute;
    right: 65px;
    bottom: 40px;
}
.dlabel7{
    color: white;  font-weight: 100; font-size: 15.3px;
    z-index: 10;
    position: absolute;
    left: 50px;
    bottom: 40px;
}
.dlabel8{
    color: white;  font-weight: 100; font-size: 15.3px;
    z-index: 10;
    position: absolute;
    left: 155px;
    top: 50px;
}
.waterlevel{
    width: 160.07px;
    height: 386.85px;
    margin-top: 48.27px;
    margin-bottom: 36.88px;
    margin-left: 136.58px;
    border:2px solid blue;
}
.water_level{
    object-fit:contain;
    position: absolute;
    width: 210px;
    height: 210px;
    z-index: 2;
    top: 110px;
    right: 20px;
}
.water_level_bg{
    object-fit:contain;
    position: absolute;
    width: 300px;
    height: 320px;
    z-index: 1;
    right: 20px;
}
.wlabel{
    color: white;  font-weight: 500; font-size: 20.3px;
    z-index: 10;
    top: 170px;
}
.wlevel{
    color: white;   font-weight: 100 ;font-size: 20.3px;
    z-index: 10;
    left: 40px;
    bottom: 30px;
}
.wlabel2{
    color: #837f7f;   font-weight: 100 ;font-size: 20.3px;
    z-index: 10;
    position: absolute;
    left: 40px;
    top: 10px;
}
.temp{
    width: 189.76px;
    height: 342.02px;
    border:2px solid gold;
    margin-top: 48.27px;
    margin-bottom: 81.17px;
    margin-left: 100.55px;
}
.temperature_bg{
    object-fit:contain;
    position: absolute;
    width: 300px;
    height: 320px;
    z-index: 1;
    right: 50px;
}
.temperature{
    object-fit:contain;
    position: absolute;
    width: 210px;
    height: 210px;
    z-index: 2;
    top: 107px;
    right: 50px;
}
.tlevel{
    color: white;   font-weight: 100 ;font-size: 25.3px;
    z-index: 10;
    left: 90px;
}
.tlabel{
    position: absolute;
    color: white;   font-weight: 100 ;font-size: 25.3px;
    z-index: 10;
    top: 340px;
}
.menut{
    width: 228.24px;
    height: 62.24px;
    border:2px solid orange;
    margin-top: 38.99px;
    margin-left: 47.8px;
}
.time{
    color: white;   font-weight: 100 ;font-size: 25.3px;
    z-index: 10;
    left: 20px;
}
.time_bg{
    position: absolute;
    object-fit:contain;
}
.wifi{
    position: absolute;
    object-fit:contain;
    width: 40px;
    height: 40px;
    top: 10px;
    left: 160px;
}
.menus{
    width: 62.24px;
    height: 62.64px;
    border:2px solid white;
    margin-top: 38.99px;
    margin-left: 36.09px;
    margin-right: 86.36px ;
}
.settings{
    position: absolute;
    width: 100%;
    height: 100%;
}
.menub{
    position: absolute;
    width: 266.34px;
    height: 158.03px;
    border:2px solid purple;
    top: 277.09px;
    right: 86.36;
}
.power{
    position: absolute;
    width: 130px;
    height: 130px;
    left: 130px;
}
.play{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 20px;
}
.pause{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 20px;
}
.plabel1{
    color: white;   font-weight: 100 ;font-size: 13.3px;
    z-index: 10;
    top: 65px;
    left: 175px;
}
.plabel2{
    color: white;   font-weight: 100 ;font-size: 13.3px;
    z-index: 10;
    top: 65px;
    right: 10px;
}